{% extends "layout.html" %}

{% block title %}天氣{% endblock %}

{% block styles %}
<style>
 body {
        background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%) no-repeat center center fixed;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #ac34db;
        font-weight: bolder;
        text-align: left;
    }

    h4 {
        color: #742CB6;
        margin-bottom: 15px;
        font-weight: bold;
        text-align: left;
    }

    .space {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .glass-card {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
        padding: 20px;
        margin: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
    }

    .glass-card h4 {
        color: #742CB6;
        margin-bottom: 15px;
        font-weight: bold;
        text-align: left;
    }

    .glass-card h5 {
        color: #742CB6;
        margin-bottom: 15px;
        text-align: center;
    }

    .glass-card i,
    p {
        color: #2d0255;
        font-weight: bolder;
        font-size: xx-large;
    }

    .glass-card small {
        color: #2d0255;
        font-weight: bolder;
        font-size: x-large;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center mb-4 space">
        <h1 class="col-6">Weather Forecast</h1>
        <div class="col-4">
            <select class="form-select" id="changeCountySelect">
                {% for county in counties %}
                    <option value="{{county}}" 
                        {% if county == pageCounty %}
                            selected
                        {% endif %}
                    >{{county}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-light" onclick="">登入</button>
            <!-- 登入與登出按鈕 -->
        </div>
    </div>

    <div class="space row justify-content-center">
        <div class="glass-card col-5">
            <h4>現在溫度</h4>
            <div class="row">
                <div class="col-6">
                    <h5>氣溫</h5>
                    <p>{{weather.AirTemperature}}℃</p>
                    <!-- <p>放置氣溫資訊</p> -->
                </div>
                <div class="col-6">
                    <h5>體感溫度</h5>
                    <p>{{weather.AT}}℃</p>
                    <!-- <p>放置體感溫度資訊</p> -->
                </div>
            </div>
        </div>
        <div class="glass-card col-5">
            <h4>現在天氣</h4>
            <div class="row">
                <div class="col-6">
                    <h5>降水量</h5>
                    {% if weather.Now.Precipitation >= 0 %}
                    <p>{{weather.Now.Precipitation}}毫米</p>
                    {% else %}
                    <p>0</p>
                    {% endif %}
                    <!-- <p>放置降雨機率</p> -->
                </div>
                <div class="col-6">
                    <h5>紫外線</h5>
                    <p>{{weather.UVString}}</p>
                    <!-- 0~2低量、3~5中量、6~7高量、8~10過量、11~危險 -->
                    <!-- <p>放置紫外線</p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="glass-card col-5">
            <h4>今日</h4>
            <div class="row">
                <div class="col-6">
                    <i class="bi bi-thermometer-half"></i>
                    <p>{{weatherForecast.0.MinT}}~{{weatherForecast.0.MaxT}}℃</p>
                    <!-- <p>放置今日溫度範圍</p> -->
                </div>
                <div class="col-6">
                    <i class="bi bi-{{weatherForecast.0.weatherIcon}}"></i>
                    <p>{{weatherForecast.0.Wx}}</p>
                    <!-- 晴天<i class="bi bi-brightness-high"></i>、陰天<i class="bi bi-cloud"></i>、雨天<i class="bi bi-cloud-rain"></i>、風大<i class="bi bi-wind"></i> -->
                    <!-- <p>放置今日天氣情況</p> -->
                </div>
            </div>
        </div>
        <div class="glass-card col-5">
            <h4>明日</h4>
            <div class="row">
                <div class="col-6">
                    <i class="bi bi-thermometer-half"></i>
                    <p>{{weatherForecast.1.MinT}}~{{weatherForecast.1.MaxT}}℃</p>
                    <!-- <p>放置明日溫度範圍</p> -->
                </div>
                <div class="col-6">
                    <i class="bi bi-{{weatherForecast.1.weatherIcon}}"></i>
                    <p>{{weatherForecast.1.Wx}}</p>
                    <!-- 晴天<i class="bi bi-brightness-high"></i>、陰天<i class="bi bi-cloud"></i>、雨天<i class="bi bi-cloud-rain"></i>、風大<i class="bi bi-wind"></i> -->
                    <!-- <p>放置明日天氣情況</p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="space row justify-content-center">
        <h4>一週預報</h4>
        <div class="row glass-card col-10">
            <div class="col-2">
                <h5>{{weatherForecast.1.weekday}}</h5>
                <p class="small">{{weatherForecast.1.MinT}}~{{weatherForecast.1.MaxT}}℃</p>
                <i class="bi bi-{{weatherForecast.1.weatherIcon}}"></i>
                <!-- <p>放置溫度範圍、天氣情況</p> -->
            </div>
            <div class="col-2">
                <h5>{{weatherForecast.2.weekday}}</h5>
                <p class="small">{{weatherForecast.2.MinT}}~{{weatherForecast.2.MaxT}}℃</p>
                <i class="bi bi-{{weatherForecast.2.weatherIcon}}"></i>
                <!-- <p>放置溫度範圍、天氣情況</p> -->
            </div>
            <div class="col-2">
                <h5>{{weatherForecast.3.weekday}}</h5>
                <p class="small">{{weatherForecast.3.MinT}}~{{weatherForecast.3.MaxT}}℃</p>
                <i class="bi bi-{{weatherForecast.3.weatherIcon}}"></i>
                <!-- <p>放置溫度範圍、天氣情況</p> -->
            </div>
            <div class="col-2">
                <h5>{{weatherForecast.4.weekday}}</h5>
                <p class="small">{{weatherForecast.4.MinT}}~{{weatherForecast.4.MaxT}}℃</p>
                <i class="bi bi-{{weatherForecast.5.weatherIcon}}"></i>
                <!-- <p>放置溫度範圍、天氣情況</p> -->
            </div>
            <div class="col-2">
                <h5>{{weatherForecast.5.weekday}}</h5>
                <p class="small">{{weatherForecast.5.MinT}}~{{weatherForecast.5.MaxT}}℃</p>
                <i class="bi bi-{{weatherForecast.5.weatherIcon}}"></i>
                <!-- <p>放置溫度範圍、天氣情況</p> -->
            </div>
            <div class="col-2">
                <h5>{{weatherForecast.6.weekday}}</h5>
                <p class="small">{{weatherForecast.6.MinT}}~{{weatherForecast.6.MaxT}}℃</p>
                <i class="bi bi-{{weatherForecast.6.weatherIcon}}"></i>
                <!-- <p>放置溫度範圍、天氣情況</p> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById('changeCountySelect').onchange = function() {
        window.location.href = '/county/details/' + this.value;
    }
</script>
{% endblock %}