{% extends "layout.html" %}

{% block title %}個人儀錶板{% endblock %}

{% block styles %}
<style>
    body {
        background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%) no-repeat center center fixed;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #ac34db;
        font-weight: bolder;
        text-align: left;
    }

    h4 {
        color: #742CB6;
        margin-bottom: 15px;
        font-weight: bold;
        text-align: left;
    }

    .space {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .glass-card {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
        padding: 20px;
        margin: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
    }

    .glass-card label {
        color: #742CB6;
        margin-bottom: 15px;
        font-weight: bold;
        text-align: left;
    }

    .glass-card h5 {
        color: #742CB6;
        margin-bottom: 15px;
        text-align: center;
    }

    .glass-card i,
    p {
        color: #2d0255;
        font-weight: bolder;
        font-size: xx-large;
    }

    img {
        width: 50%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center space">
        <h1 class="col-10">個人儀表板</h1>
        <a href="/" class="btn btn-light col-1">回首頁</a>
    </div>
    
    <div class="row justify-content-center">
        <div class="glass-card col-7">
            <div class="row">
                <div class="col-6">
                    <img class="rounded-circle" src="{{user.avatar.url}}" alt="Profile Image">
                    <!-- 顯示使用者相片 -->
                </div>
                <div class="col-6 d-flex align-items-center">
                    <h4>{{user.user}}</h4>
                    <!-- 顯示使用者名稱 -->
                </div>
            </div>
            <hr class="hr" />
            <div class="space">
                <h4>預設顯示城市：</h4>
                <p>{{user.defaultCounty}}</p>
                <!-- 顯示預設城市設定值 -->
            </div>
        </div>
        <div class="glass-card col-4">
            <h4>個人資料修改</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">修改使用者相片</label>
                    {{ form.avatar }}
                </div>
                <div class="mb-3">
                    <label class="form-label">修改使用者名稱</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label class="form-label">預設顯示城市</label>
                    {{ form.defaultCounty }}
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">修改密碼</label>
                    {{ form.password }}
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">確認新密碼</label>
                    {{ form.password_confirm }}
                </div>
                <button type="submit" class="btn btn-outline-dark">修改</button>
                {% if success_message %}
                    <div class="alert alert-success" role="alert">{{ success_message }}</div>
                {% endif %}
                {% if err_message %}
                    <div class="alert alert-danger" role="alert">{{ err_message }}</div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}